*{
  margin: 0;
}

body {
  background-color: white;
}
#teamLogo{
  
}

.highlight {
  color: teal;
}

.formWrapper{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

input{
  height: 1.5rem;
  width: 50rem;
}

.cardContainer{
  margin: 3rem;
}

.MemberCardContainer{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}


.SecondaryButton{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.cardText{
  width: 20rem;
}



img{
  border-radius: 50%;
}
